.accordion {
	&__title {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		padding: 10px;

		background-color: @black;
		color: @white;
		border: none;
		border-bottom: solid 1px @white;

		h1,
		h2,
		h3 {
			margin: 0;
			font-weight: 400;
			transition: margin 0.3s;
		}

		transition: background-color 0.3s;

		&:hover,
		&:focus {
			background-color: @brewdogblue;
			h1,
			h2,
			h3 {
				margin-left: 10px;
			}
		}

		&::after {
			content: '+';
			position: absolute;
			right: 20px;
		}

		.active-panel > & {
			&::after {
				content: '-';
			}
		}
	}
	&__panel {
		overflow: hidden;
		transition: height 0.3s;
		background-color: @brewdogcream;

		/* only applied after js is definite, so content is still readable without js */
		.has-js & {
			visibility: hidden;
		}
		.has-js .active-panel & {
			visibility: visible;
		}
	}
}

.beer {
	padding-left: 20px;
	padding-right: 20px;

	&__tagline {
		margin-top: @text-margin-bottom;
		font-weight: 600;
	}
	&__image {
		float: left;
		max-height: 300px;
		width: auto;
		margin-top: @text-margin-bottom;
		margin-bottom: @text-margin-bottom;
		margin-right: 15px;
	}
}
