/* smooth scrolling on the page */
html {
	scroll-behavior: smooth;
}
/* unless prefers-reduced-motion */
@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

header,
main {
	width: 90%;
	max-width: 900px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}
header {
	padding-top: 20px;
}

section {
	margin-bottom: 30px;
}
@media (min-width: @sm) {
	section {
		margin-bottom: 40px;
	}
}
@media (min-width: @md) {
	section {
		margin-bottom: 50px;
	}
}
@media (min-width: @lg) {
	section {
		margin-bottom: 60px;
	}
}
