@import 'normalize';
@import 'base';
@import 'layout';
@import 'ctagrid';
@import 'accordion';

// breakpoints ------------
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;

// columns --------------
@col-no: 12;
@col-padding: 15px;

// colours --------------
@black: #000;
@white: #fff;
@brewdogblue: rgb(0, 175, 219);
@brewdogcream: #eeeee8;

// type -----------------
@mainfontfamily: sans-serif;
@mainfontcolor: @black;

@text-margin-bottom: 2rem;
